.buttons_list {
  margin-top: 10px;
  display: flex;

  gap: 15px;

  overflow: auto;

  scroll-behavior: x mandatory;
  scrollbar-width: none;
}

.page_button {
  padding: 0.6em 0.8em;

  border-radius: 5px;

  font-size: 12px;

  border-color: #e6007e;
}
