.movie_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  column-gap: 20px;

  row-gap: 25px;
}

.movie_item {
  width: clamp(240px, 15vw, 300px);
  height: clamp(300px, 45vh, 380px);
}

@media screen and (max-width: 1023.98px) {
  .movie_item {
    width: clamp(200px, 15vw, 300px);
    height: clamp(300px, 10vh, 460px);
  }
}

@media screen and (max-width: 767.98px) {
  .movie_item {
    width: clamp(200px, 15vw, 300px);
    height: clamp(300px, 10vh, 460px);
  }
}

@media screen and (max-width: 451.98px) {
  .movie_list {
    justify-content: center;
  }

  .movie_item {
    width: 100vw;

    height: clamp(420px, 70vh, 460px);
  }
}
