.movie_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  row-gap: 20px;
}

.movie_item {
  width: 320px;
  height: 100%;
}

@media screen and (max-width: 767.98px) {
  .movie_list {
    justify-content: center;
    align-items: center;
  }
}
