.header {
  z-index: 99993;
  position: absolute;

  padding-inline: 2em;
  width: 100%;
  height: var(--header-height);

  display: flex;
  align-items: center;
  gap: 12px;

  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.9);

  /*
  border-bottom: 0.5px rgb(163, 12, 93) solid; */

  line-height: 1;

  background-color: #000;
}

.nav {
  margin-left: 60px;

  display: flex;
  gap: 60px;
}

.link {
  position: relative;

  font-size: clamp(0.85em, 2vw, 1em);
  letter-spacing: 0.2em;
  font-weight: 500;

  color: #f4f4f4;
}

.link:hover {
  color: #a30c5d;
}

.link::after {
  position: absolute;

  content: "";

  bottom: -4px;
  left: 0;

  width: 0%;
  height: 1px;

  transition: width 0.2s ease-in-out;
}

.active {
  color: #a30c5d;
}

.link.active::after {
  width: 100%;
  background-color: #a30c5d;
}

@media screen and (max-width: 767.98px) {
  .header {
    padding: 1rem;
  }
  .nav {
    margin-left: 25px;
    gap: 30px;
  }
}
