.flip_card {
  position: relative;

  width: 100%;
  height: 100%;

  background-color: transparent;

  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip_card_inner {
  position: relative;

  width: 100%;
  height: 100%;

  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;

  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 12px rgba(0, 0, 0, 0.7);
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip_card:hover .flip_card_inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip_card_front,
.flip_card_back {
  position: absolute;

  width: 100%;
  height: 100%;

  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;

  background-image: linear-gradient(45deg, #ffffff, #ffa500);
  background-size: 100%;
  background-repeat: repeat;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
}

/* Style the front side (fallback if image is missing) */
.flip_card_front {
  background-color: #bbb;
  color: black;

  object-fit: fill;
}

/* Style the back side */
.flip_card_back {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: inset 0px 0px 100px 25px rgba(66, 68, 90, 1);
  -moz-box-shadow: inset 0px 0px 100px 25px rgba(66, 68, 90, 1);
  box-shadow: inset 0px 0px 150px 25px rgba(66, 68, 90, 0.6);

  color: white;
  transform: rotateY(180deg);
}

.flip_box {
  position: absolute;

  bottom: 0;
  right: 0;

  width: 54px;
  height: 54px;

  background-color: rgba(255, 255, 255, 0.3);

  border-top-left-radius: 50px;
}

.flip_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-30%, -40%);
  font-size: 24px;
}

.flip_card:hover .flip_icon {
  color: #ffa500;
}

.title {
  margin-top: 25px;
  font-size: 1.3em;
}

.about {
  display: block;

  overflow: hidden;

  padding-inline: 15px;

  font-size: 0.7em;
}

.info {
  margin-bottom: 25px;

  width: 150px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;

  gap: 5px;

  font-size: 0.9em;
  line-height: 1;
}
